* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  padding-left: 27rem;
}
